{namespace postmaster=Madj2k\Postmaster\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    <postmaster:email.translate key="templates_email_backendUser_closingDay.headline" languageKey="{language}" extensionName="rkwCompetition" arguments="{0 : fullName}" />

    <postmaster:email.translate key="templates_email_backendUser_closingDay.text1" languageKey="{language}" extensionName="rkwCompetition" />

    <postmaster:email.translate key="templates_email_backendUser_closingDay.text2" languageKey="{language}" extensionName="rkwCompetition" />
</f:section>

<!-- HTML -->
<f:section name="Html">
    <h1><postmaster:email.translate key="templates_email_backendUser_closingDay.headline" languageKey="{language}" extensionName="rkwCompetition" arguments="{0 : fullName}" /></h1>
    <p><postmaster:email.translate key="templates_email_backendUser_closingDay.text1" languageKey="{language}" extensionName="rkwCompetition" /></p>
    <p class="important"><postmaster:email.translate key="templates_email_backendUser_closingDay.text2" languageKey="{language}" extensionName="rkwCompetition" /></p>
    <ul>
        <f:for each="{files}" as="file" iteration="iteration">
            <li>{file.file_uid} - {file.identifier}</li>
        </f:for>
    </ul>
</f:section>